<!DOCTYPE html>
<html lang="{{{block "lang"}}}">

<head>
    {{ghost_head}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{@site.title}}</title>

    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+IT+Trad&family=Ovo&family=Playwrite+US+Trad:wght@100..400&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <style>
        :root {
            {{#if @custom.background_color}}
                --background-color: {{@custom.background_color}};
            {{/if}}
            {{#if @custom.text_color}}
                --text-color: {{@custom.text_color}};
            {{/if}}
            {{#if @custom.invert_text_color}}
                --invert-text-color: {{@custom.invert_text_color}};
            {{/if}}
            {{#if @custom.accent_background}}
                --accent-background: {{@custom.accent_background}};
            {{/if}}

            {{#if @custom.landing_image}}
                --landing-image: url({{@custom.landing_image}});
            {{/if}}
            {{#if @custom.landing_image_mobile}}
                --landing-image-mobile: url({{@custom.landing_image_mobile}});
            {{/if}}
            {{#if @custom.background_image}}
                --background-image: url({{@custom.background_image}});
            {{/if}}
            {{#if @custom.ganesh_logo}}
                --ganesh-logo: url({{@custom.ganesh_logo}});
            {{/if}}
            {{#if @custom.polaroid_1}}
                --polaroid-1: url({{@custom.polaroid_1}});
            {{/if}}
            {{#if @custom.body_font}}
                --body-font: {{@custom.body_font}};
            {{/if}}
            {{#if @custom.title_font}}
                --title-font: {{@custom.title_font}};
            {{/if}}
            {{#if @custom.cover_font}}
                --cover-font: {{@custom.cover_font}};
            {{/if}}

            {{#if @custom.mobile_width}}
                --mobile-width: {{@custom.mobile_width}};
            {{/if}}

            {{#if @site.logo}}
                --site-logo: {{@site.logo}};
            {{/if}}
        }
    </style>
</head>

<body class="{{body_class}}{{{block "body_class"}}} is-head-left-logo{{^is "home"}}{{#if @site.cover_image}} is-head-brand{{/if}}{{/is}}">

{{{body}}}

</body>
</html>